<%- include('../partials/header') %>

<section id="detail-page">
    <div>Pet Type:</div>
    <div><%= pet.petType %></div>

    <div>Pet Classification:</div>
    <div><%= pet.petClassification %></div>

    <div>Pet Sex:</div>
    <div> <%= pet.petSex %></div>

    <div>Pet Age:</div>
    <div><%= pet.petAge %></div>
</section>

  <!-- adoption information Form -->
<section>
    <br><br><h2>Add/Update Adoption Information</h2>
    <form id="add-adoption-form" method="POST"
      action="/pets/<%= pet._id %>/adoptions">
        <label>Name of Adopter:</label>
        <input type="text" name="adopter">
            
        </input>

        <label for="arrival">Arrival date/time:</label>
        <input
            type="datetime-local"
            id="arrival-id"
            name="arrival-date-time"
            value="2023-11-18T19:30"
            min="2023-11-07T00:00"
            max="2030-11-14T00:00" />

        <input type="submit" value="Add Arrival">
    </form>
</section>

<!-- Show a list of the adoptions for the pet selected -->
<section>
    <% if (pet.adoptions.length) { %>
      <table>
        <thead>
          <tr>
            <th>Airport</th>
            <th>Arrival Date/Time</th>
          </tr>
        </thead>
        <tbody>
          <% pet.adoptions.forEach(function(d) { %>
            <tr>
              <td><%= d.airport %></td>
              <td><%= d.arrival %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h5>There are no adoptions yet...</h5>
    <% } %>
  </section>

<%- include('../partials/footer') %>